/* 棋盘位置：全局，居中*/
body{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    margin: 0%;
}
/*棋盘边界 */
.game-pane{

    border-style: solid;
    border-width: 1px;
    border-color: #ccc;


    box-shadow: 2px 2px 2px #ccc;                  /*     */

}
/* 棋盘；背景，大小*/
.cell{
    background-color: #ccc;
    width: 1.5em;
    height: 1.5em;

    border-style: outset; /*边界样式 */

    text-align: center;

    user-select: none;

    text-align: center;  /* 数字中对齐*/

    user-select: none;/*  不做光标选择   */
}


/*  对棋盘格状态的清空（单机，点下）   */
.clear {
    border-style: solid;  /*  清空后边界的格式   */
    border-color: #eee;/*  清空后边界颜色   */
    background-color: #eee;/*  清空后背景颜色   */
}


 /*  点到雷的地方变成红   */
.cell.landmine.exploded {
    background: red url(mine.png);
    
    background-size: cover;
    

}

/*  其他雷变成橙色   */
.cell.landmine {
    background: orange  url(mine.png);
    background-size: cover;
}


/*  成功   */
.cell.landmine.success {
    background-color: green;
}


.level {
    text-align: center;
    margin-bottom: 10px;
}

.level button {
    padding: 5px 15px;
    background-color: #ccc;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    outline:none;
    cursor: pointer;
}


